{% extends "layouts/base.twig" %}

{% block header %}

<div data-role="header">
	<a href="index.html" data-rel="back">Back</a>
	<h1>Cursus Beheer</h1>
</div>
{% endblock header %}

{% block content %}

<table data-role="table" id="cursustabel" data-mode="columntoggle" class="ui-responsive table-stroke">
	<thead>
		<tr>
			<th>Cursus Naam</th>
			<th data-priority="1">Cursus Code</th>
			<th data-priority="2">Onderdelen</th>
		</tr>
	</thead>
	<tbody>
		{% for course in courses %}
		<tr>
			<td>{{ course.cursus_Name }}</td>
			<td>{{ course.cursus_Code }}</td>
			<td><a href="{{ constant('BASE') }}/docent/{{ id }}/cursus/{{ course.cursus_Id }}/onderdelen" data-role="button">&#10004;</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
