{% extends "layouts/base.twig" %}

{% block header %}

<div data-role="header">
	<h1>
		Wijzigen student met ID: {{ studentId }}
	</h1>
</div>

{% endblock header %}

{% block content %}

<form data-ajax="false" action="{{ constant('BASE') }}/slc/{{ id }}/student/edit/{{ studentId }}" method="POST">
	
	<!-- Veld voor Student Naam -->
	<label for="basic">Student Naam:</label>
	<input type="text" name="studentname" id="basic" data-mini="true" value="{{ student.user_Name }}" />

	<!-- Veld voor Student Code -->
	<label for="basic">Student Code:</label>
	<input type="number" name="studentcode" id="basic" data-mini="true" value="{{ student.user_Code }}" />

	<!-- Veld voor Student Email -->
	<label for="basic">Student Email:</label>
	<input type="text" name="studentemail" id="basic" data-mini="true" value="{{ student.user_Email }}" />	

	<!-- Veld voor Student Paswoord -->
	<label for="basic">Student Paswoord:</label>
	<input type="password" name="studentpassword" id="basic" data-mini="true" value="{{ student.user_Pass }}" />

	<!-- Veld voor Student Klas -->
	<label for="basic">Student Klas:</label>
	<input type="text" name="studentklas" id="basic" data-mini="true" value="{{ student.user_Klas }}" />

	<!-- Veld voor Student Rol -->
	<label for="rol">Rol:</label>
	<select name="rol" id="rol">
		{% for rol in rollen %}
		<option value="{{ rol.rol_Id }}">{{ rol.rol_Naam }}</option>
		{% endfor %}
	</select>
	
	<!-- Veld voor Student Actief	-->
	<label for="actief"><input type="checkbox" name="actief" id="actief" {% if student.actief == '1' %} checked {% endif %}/>Actief </label>
	
	<!-- Submit knop -->
	<input type="submit" value="Opslaan" data-theme="b">
</form>

{% endblock content %}