{% extends "layouts/base.twig" %}

{% block header %}

<div data-role="header">
	<h1>
		SLC
	</h1>
</div>

{% endblock header %}

{% block content %}

<div data-theme="a" data-role="collapsible-set">

	<div data-role="collapsible">
		<h3>Cursus beheer</h3>
		<h4>Cursus toevoegen</h4>
		<a href="{{ constant('BASE') }}/slc/{{ id }}/course/add" data-role="button">Nieuwe course</a>
		<h4>Cursus wijzigen</h4>
		<table data-role="table" id="cursustabel" data-mode="columntoggle" class="ui-responsive table-stroke">
			<thead>
				<tr>
					<th>Cursus Naam</th>
					<th data-priority="1">Cursus Code</th>
					<th data-priority="2">Docent</th>
					<th data-priority="3">Wijzigen</th>
					<th data-priority="4">Verwijderen</th>
				</tr>
			</thead>
			<tbody>
				{% for course in courses %}
				<tr>
					<td>{{ course.cursus_Name }}</td>
					<td>{{ course.cursus_Code }}</td>
					<td>{{ course.user_Name|capitalize }}</td>
					<td><a href="{{ constant('BASE') }}/slc/{{ id }}/course/edit/{{ course.cursus_Id }}" data-role="button">&#10004;</a></td>
					<td><a href="{{ constant('BASE') }}/slc/{{ id }}/course/remove/{{ course.cursus_Id }}" data-role="button">&#10004;</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div data-role="collapsible">
		<h3>Gebruikers Beheer</h3>
		<h4>Gebruiker toevoegen</h4>
		<a href="{{ constant('BASE') }}/slc/{{ id }}/student/add" data-role="button">Nieuwe Student</a>
		<h4>Gebruiker wijzigen</h4>
		<table data-role="table" id="studententabel" data-mode="columntoggle" class="ui-responsive table-stroke">
			<thead>
				<tr>
					<th>Naam</th>
					<th data-priority="1">Student Code</th>
					<th data-priority="2">Email</th>
					<th data-priority="3">Klas</th>
					<th data-priority="4">Rol</th>
					<th data-priority="5">Wijzigen</th>
					<th data-priority="6">Verwijderen</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
				<tr>
					<td>{{ student.user_Name }}</td>
					<td>{{ student.user_Code }}</td>
					<td>{{ student.user_Email }}</td>
					<td>{{ student.user_Klas }}</td>
					<td>{{ student.Rol_rol_Id }}</td>
					<td><a href="{{ constant('BASE') }}/slc/{{ id }}/student/edit/{{ student.user_Id }}" data-role="button">&#10004;</a></td>
					<td><a href="{{ constant('BASE') }}/slc/{{ id }}/student/remove/{{ student.user_Id }}" data-role="button">&#10004;</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div data-role="collapsible">
			<h3>Gebruiker koppelen aan cursus</h3>
			<table data-role="table" id="studentencursustabel" data-mode="columntoggle" class="ui-responsive table-stroke">
				<thead>
					<tr>
						<th>Cursus Naam</th>
						<th>Cursus Code</th>
						<th>Studenten</th>
					</tr>
				</thead>
				<tbody>
					{% for course in courses %}
					<tr>
						<td>{{ course.cursus_Name }}</td>
						<td>{{ course.cursus_Code }}</td>
						<td><a href="{{ constant('BASE') }}/slc/{{ id }}/course/students/{{ course.cursus_Id }}">Zie allen</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>

</div>
<a href="{{ constant('BASE') }}/{{ id }}/logout" data-role="button">Uitloggen</a>

{% endblock content %}