{% extends "layouts/base.twig" %}

{% block header %}

<div data-role="header">
	<a href="index.html" data-rel="back">Back</a>
	<h1>Uren {% if weeknr != null %} voor week {{ weeknr }} {% endif %}</h1>
	<a href="#" class="print" rel="urenoverzicht_table">Print</a>
</div>

{% endblock header %}

{% block content %}
<script>
$(document).ready(function() {
	$('select').change(function( event ) {
		$("#test").submit();
	});
	$("table tr:nth-last-child(2) td").css("border-bottom", "1px solid");
	$("table tr:last-child td").css("border-bottom", "none");
});
</script>
<form data-ajax="false" id="test" action="{{ constant('BASE') }}/student/{{ id }}/overzicht" method="POST">
	<label for="select-choice-0" class="select">Week:</label>
	<select onchange="this.form.submit()" name="week" id="select-choice-0">
		<option value="Standaard">Selecteer weeknummer</option>
		{% for weeknummer in weeknummers %}
		{% if weeknummer.week == weeknr %}					
		<option value="{{ weeknummer.week }}-{{weeknummer.jaar }}" selected>{{ weeknummer.week }}</option>
		{% else %}
		<option value="{{ weeknummer.week }}-{{weeknummer.jaar }}">{{ weeknummer.week }}</option>
		{% endif %}
		{% endfor %}
	</select>
</form>
{% if urenoverzichtarray != null %}
		<table data-role="table" id="urenoverzicht_table" data-mode="columntoggle" class="ui-responsive table-stroke">
			<thead>
				<tr>
					<th>Cursus</th>
					<th>Totaal uren</th>
					<th>Opties</th>
				</tr>
			</thead>
			<tbody>
				{% for data in urenoverzichtarray %}
				<tr class="row">
					<td>{{ data.cursus }}</td>
					<td>{{ data.studielast }}</td>
					<td ><a href="{{ constant('BASE') }}/student/{{ id }}/overzicht/details/{{ weeknr }}-{{ jaar }}-{{ data.cursus_Id }}">Details</a></td>
				</tr>
				{% endfor %}
				<tr>	
					<td></td>
					<td colspan="3">{{ totaal }}</td>
				</tr>
			</tbody>
		</table>
		{% endif %}

		{% endblock content %}